body {
	background: #757F9A;
	background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
	background: linear-gradient(to right, #D7DDE8, #757F9A);

}

h1 {
	text-align: center;
	padding: 20px 10px;
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);

}


input {
	text-align: center;
	margin-left: 10%;
	font-size: 19px;
	background-color: #f7f7f7;
	margin-bottom: 30px;
}



span {
	background: red;
	height: 15px;
	margin-right: 12px;
	text-align: center;
	color: black;
	width: 0%;
	display: inline-block;
	transition: 0.2s linear;
}


ul {
	list-style: none;
}

li:nth-child(2n){
	background: #403B4A; 
	background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);
	background: linear-gradient(to right, #E7E9BB, #403B4A);

}

li:hover span {
	width: 15px;
}



#container {
	width: 360px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 3px 3px 5px 3px;
	border-radius: 1%;
	background-color: white;
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
	margin-bottom: 30px;
}

.completed {
	color: gray;
	text-decoration: line-through;
}



